.skills-container{
    width: 100%;
    background-color:#ededed52;
}
.skills{
    width: 90%;
    color: black;
    text-align: center;
    margin-top: 10rem;
    padding-bottom: 5rem;
    margin: 0 auto;
}

.skills h1{
    font-family: Roboto;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.skills-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    display: block;
    margin:1rem; 
    width: 26%;
    background-color: #ecf1fa;
    padding: 0.5rem 0;
    border-radius: 5px;
}

.item h3{
    margin: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.item-content{
    margin:1rem;
}

.item img{
    width: 80%;
}
.item:hover {
    background-color: #3e4766;
    color: #ecf1fa;
}

@media only screen and (max-width:650px){
    .skills{
        width: 100%;
        color: black;
        text-align: center;
        margin-top: 10rem;
        padding-bottom: 5rem;
        margin: 0 auto;
    }
    .item{
        display: block;
        margin:1rem; 
        width: 60%;
        background-color: #ecf1fa;
        padding: 0.5rem 0;
        border-radius: 5px;
    }
    .item:hover {
        background-color: #3e4766;
        color: whitesmoke;
      }
}