
@media only screen and (min-width:651px){

    .home{
        height: 600px;
        width: 100%;
        background-color: #3e4766;
        display: flex;
        flex-direction: row;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 59% 84%, 0 100%, 0% 50%);
    }
    .content-home{
        width: 55%;
        color:#f6f6f6;
        font-size: 2rem;
        padding-top: 9%;
        text-align: center;
    }
    .content-home h2{
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Monoton', cursive;
        padding-bottom: 0,5rem ;
    }
    .content-home h3{
        font-size: 2.75rem;
        font-weight: 900;
        font-family: 'Crete Round', serif;
        margin-top: 0.5rem;
    }
    .content-home h3 span{
        font-weight: 600;
    }
    .content-home h5{
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Crete Round', serif;
        margin-top: 1rem;
        
    }
    .image-container{
        width: 45%;
    }
    .profile-pic{
        padding-top: 7%;
        padding-left: 5%;
    }
    .profile-pic img{
        display: block;
        width: 50%;
        clip-path: circle(50% at 50% 50%);
    }
    .banner .mobile{
        display: none;
    }
}


@media only screen and (max-width: 650px){
    .banner .desktop{
        display: none;
    }
    .home{
        height: 600px;
        width: 100%;
        background-color: #3e4766;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 56% 89%, 0 100%);
    }
    .banner .mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-home{
        width: 90%;
        color:#f6f6f6;
        padding-top: 9%;
        text-align: center;
    }
    .content-home h2{
        font-size: 7vw;
        font-weight: 500;
        font-family: 'Monoton', cursive;
        padding-bottom: 0.3rem;
    }
    .content-home h3{
        font-size: 8vw;
        font-weight: 900;
        font-family: 'Crete Round', serif;
        margin-top: 0.5rem;
    }
    .content-home h3 span{
        font-weight: 600;
    }
    .content-home h5{
        font-size: 5vw;
        font-weight: 400;
        font-family: 'Crete Round', serif;
        margin-top: 1rem;
        
    }

    .image-container{
        width: 80%;
    }
    .profile-pic{
        padding-top: 13%;
    }
    .profile-pic img{
        display: block;
        margin: 0 auto;
        width: 50%;
        clip-path: circle(50% at 50% 50%);
    }
  }

